.footer__project-name {
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    max-width: 282px;
    margin: 48px auto 36px auto;
}

@media screen and (min-width: 620px) {
    .footer__project-name {
        margin-bottom: 60px;
        max-width: 581px;
    }
}

@media screen and (min-width: 930px) {
    .footer__project-name {
        margin-top: 66px;
        margin-bottom: 60px;
        max-width: 880px;
        font-size: 18px;
        line-height: 22px;
    }
}