.popup__heading_delete-card {
    margin-bottom: 38px;
}

@media screen and (max-width: 699px) {
    .popup__heading_delete-card {
        margin-top: 35px;
        margin-left: 20px;
        width: 200px;
    }
}