.popup__container_delete-card {
    height: 181px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 699px) {
    .popup__container_delete-card {
        width: 240px;
    }
}